<head>
  {% if page.title %}
  <title>{{ page.title }} | Test Page</title>
  {% else %}
  <title>Test Page: Don't Panic</title>
  {% endif %}
  <!-- page description -->
  {% if page.description %}
  <meta name="description" content=" {{ page.description}} " />
  {% else %}
  <meta name="description" content="This is a Dangerous site " />
  {% endif %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Page: Don't Panic</title>
  <link rel="icon" href="/images/favicon.png" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="/fonts/fontawesome-free-5.15.1-web/css/fontawesome.css"
  />
  <link rel="stylesheet" href="/css/main.css" />
</head>
